<%#  create shared view and abstract form and styling %>
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 75%;
  border: 2px solid #ddd;
}

th, td {
  text-align: center;
  border: 2px solid #ddd;
  padding: 10px;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

div.center {
  text-align: center;
}

h1 {
  text-align: center;
}
</style>

<h1>All Movements</h1>
<br>
<div class="center">
  <%= turbo_frame_tag "record_movement" do %>
    <%= button_to 'Record Movement', new_movement_path, method: :get %>
  <% end %>
</div>
<br>
<table class="center">
  <tr>
    <th><%= link_to "Name of Mover", movements_path(order: :name_of_mover) %> <%= link_to "(desc)", movements_path(order: :name_of_mover_desc) %> </th>
    <th><%= link_to "Type of Movement", movements_path(order: :type_of_movement) %> <%= link_to "(desc)", movements_path(order: :type_of_movement_desc) %></th>
    <th><%= link_to "Reps", movements_path(order: :reps) %> <%= link_to "(desc)", movements_path(order: :reps_desc) %></th>
    <th><%= link_to "Weight", movements_path(order: :weight) %> <%= link_to "(desc)", movements_path(order: :weight_desc) %> </th>
    <th><%= link_to "Moved At", movements_path(order: :created_at) %> <%= link_to "(desc)", movements_path(order: :created_at_desc) %></th>
    <th>Delete Movement</th>
  </tr>
  <% @ordered_movements.each do |movement| %>
    <tr>
      <td><%= movement.name_of_mover %></td>
      <td><%= movement.type_of_movement %></td>
      <td><%= movement.reps %></td>
      <td><%= movement.weight %></td>
      <td><%= movement.created_at.strftime("%m/%d/%Y %H:%M") %></td>
      <td>
        <%= button_to "Delete", movement, method: :delete, class: "delete-button" %>
      </td>
    </tr>
  <% end %>
</table>

